#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 6**
###**Árboles de decisión y bosque aleatorio.**

**Nombres y matrículas de los integrantes del equipo:**

* Julio César Lynn Jiménez A01793660   
*   
*   
*   
*

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [17]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import KFold

#**Ejercicio-1.**

In [3]:
df = pd.read_csv('SouthGermanCredit.csv')
df

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,24,2,3,1987,1,3,2,3,1,...,1,21,3,1,1,2,1,1,2,0
996,1,24,2,0,2303,1,5,4,3,2,...,1,45,3,2,1,3,2,1,2,0
997,4,21,4,0,12680,5,5,4,3,1,...,4,30,3,3,1,4,2,2,2,0
998,2,12,2,3,6468,5,1,2,3,1,...,4,52,3,2,1,4,2,2,2,0
999,1,30,2,2,6350,5,5,4,3,1,...,2,31,3,2,1,3,2,1,2,0

In [7]:

df.rename(columns={'laufkont':'status','laufzeit':'duration','moral':'credit_history','verw':'purpose','hoehe':'amount',
                   'sparkont':'savings','beszeit':'employment_duration','rate':'installment_rate','famges':'personal_status_sex',
                    'buerge':'other_debtors','wohnzeit':'present_residence','verm':'property','alter':'age','weitkred':'other_installment_plans',
                    'wohn':'housing','bishkred':'number_credits','beruf':'job','pers':'people_liable','telef':'telephone',
                    'gastarb':'foreign_worker','kredit':'credit_risk'}, inplace=True)
df

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,24,2,3,1987,1,3,2,3,1,...,1,21,3,1,1,2,1,1,2,0
996,1,24,2,0,2303,1,5,4,3,2,...,1,45,3,2,1,3,2,1,2,0
997,4,21,4,0,12680,5,5,4,3,1,...,4,30,3,3,1,4,2,2,2,0
998,2,12,2,3,6468,5,1,2,3,1,...,4,52,3,2,1,4,2,2,2,0
999,1,30,2,2,6350,5,5,4,3,1,...,2,31,3,2,1,3,2,1,2,0

#**Ejercicio-2.**

In [18]:
X = df.loc[:,'status':'foreign_worker']  
y = df.loc[:,'credit_risk']   

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.85, random_state=1)

False

#**Ejercicio-3.**

In [25]:
columnas_categoricas = ['status', 'credit_history', 'purpose', 'savings', 'personal_status_sex', 'other_debtors', 'other_installment_plans', 'housing']
columnas_ordinales = ['employment_duration', 'installment_rate', 'present_residence', 'property', 'number_credits']
columnas_numericas = ['duration', 'amount', 'age']
columnas_binarias = ['people_liable', 'telephone', 'foreign_worker']

# Cada pipeline lleva un paso de Imputación. En el caso de las variables ordinales, únicamente ese paso es el que será aplicado.
# La estrategia seleccionada es la de usar K vecinos cercanos para mantener la importancia del ranking de los valores lo mas parecido posible 
# a otros ejemplos similares en el conjunto de datos.
pipeline_ord = Pipeline(steps = [('imputar', KNNImputer())])  

# 3.b
pipeline_num = Pipeline(steps = [('imputar', SimpleImputer(strategy='median')),  
                                 ('escalar', MinMaxScaler(feature_range=(1, 2)))]) # TODO: Revisar en equipo el escalador y los rangos  

# 3.c
pipeline_cat_y_bin = Pipeline(steps = [('imputar', SimpleImputer(strategy='most_frequent')),
                                       ('one-hot', OneHotEncoder(handle_unknown='ignore'))])   

   
transformador_ord = ColumnTransformer(transformers = [('ordinales', pipeline_ord, columnas_ordinales)],
                                      remainder='passthrough')

transformador_num = ColumnTransformer(transformers = [('numericas', pipeline_num, columnas_numericas)],
                                      remainder='passthrough')

transformador_cat_y_bin = ColumnTransformer(transformers = [('categoricas y binarias', pipeline_cat_y_bin, columnas_numericas + columnas_binarias)],
                                            remainder='passthrough')

#**Ejercicio-4.**

In [ ]:
# WIP (Work in Progress)

kf = KFold(n_splits= 10, shuffle=True)   

for train_index, val_index in kf.split(Xtrain):

  X_train, X_val = Xtrain.loc[train_index], Xtrain.loc[val_index]
  y_train, y_val = ytrain[train_index], ytrain[val_index]

  XtrainFit = columnasTransformer.fit(X_train)   
  XtrainTransf = XtrainFit.transform(X_train)    

  modelo_LR = modelo_LR.fit(XtrainTransf, y_train) 

  XvalTransf = XtrainFit.transform(X_val) 
  yhatVal = modelo_LR.predict(XvalTransf)  

  scores_RMSEVal.append(mi_RMSE(y_val, yhatVal))
  scores_MAEVal.append(mi_MAE(y_val, yhatVal))
  scores_MAPEVal.append(mi_MAPE(y_val, yhatVal))

#**Ejercicio-5.**

In [ ]:
None

#**Ejercicio-6.**

In [ ]:
None

###**Fin de la Actividad de la semana 6.**